<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Intense Converse</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" type="text/css" href="turntable.min.css" />
</head>

<body>

    <section class="navegacion">
        <nav>
            <ul class="navegacion-menu">
                <li class="global">
                    <p>INTENSE</p>
                </li>
                <li class="global">
                    <a href="/home">HOME</a>
                </li>
                <li class="global">
                    <a href="/">Tienda</a>
                </li>
                <li class="global">
                    <a href="#">
                        Nosotros
                    </a>
                </li>
                <li class="global">
                    <a href="#">Contacto</a>
                </li>

            </ul>

            <input type="search" placeholder="Buscar" class="buscarNavegador">
            <button type="button" class="buscar">
                <img src="https://www.iconsdb.com/icons/preview/black/search-13-xxl.png" alt="" style="vertical-align: middle; width:15px">
            </button>
        </nav>
    </section>

    <section class="bannerHome">
    </section>

    <section class="galeria">
        <h1>TENDENCIAS</h1>
        <!-- Photo Grid -->
        <div class="row">
            <div class="column">
                <div class="menuGaleria10">
                    <img src="../img/holographic.png" style="width:100%">
                </div>

                <img src="http://www.planet-aviation.com/wp-content/uploads/2018/02/converse-nba-city-discovery-edition-06.jpg" style="width:100%">

            </div>
            <div class="column">
                <img src="https://3otqkcd9rd-flywheel.netdna-ssl.com/wp-content/uploads/2017/05/converse-pride-01.jpg" style="width:100%">
                <img src="https://yrbmag.com/wp-content/uploadsh/2017/03/CN_NY_J17_004_HIGHTOP_sidebyside_RGB_150DPI_V2simple_BEIGE.jpg"
                    style="width:100%">
            </div>
            <div class="column">
                <img src="https://content.nike.com/content/dam/one-nike/en_us/season-2017-fl/converse/le/0706/dt/converse-footpatrol-one-star-suede-low-top-shoes.jpg.transform/full-screen/converse-footpatrol-one-star-suede-low-top-shoes.jpg"
                    style="width:100%">
                <img src="http://www.planet-aviation.com/wp-content/uploads/2018/02/converse-nba-city-discovery-edition-01.jpg" style="width:100%">
                <img src="https://s3.amazonaws.com/nikeinc/assets/69977/PrideProduct_03_hd_1600.jpg?1495659440" style="width:100%">
            </div>
        </div>

    </section>

    <section class="descripcion">
        <div class="logo">
            <img src="https://www.underconsideration.com/brandnew/archives/converse_logo.png" alt="" width="550px">
            <h2>TODO LO QUE NECESITAS</h2>
        </div>
        <div class="descripcion1">
            <div class="izq"></div>
            <div class="der">
                <p>Necesitas un estilo en el que puedas confiar. El Chuck Taylor All-Star es un elemento básico: las siluetas
                    high-top y oxford se mantienen simplemente clásicas, mientras que los cordones blancos y el parche de
                    tobillo de estrellas dan un guiño al legado del Chuck. Este es el ir-con-todo que no te cansarás de ir.
                    Surtir.
                </p>
            </div>
        </div>
        <div class="descripcion2">
            <div class="izq">
                <h2>
                    <strong>TU</strong> ICONO</h2>
                <ul>
                    <li>Lienzos duraderos que conoces y amas</li>
                    <li>Patrón de suela exterior para tracción (se asegura de que no te caigas y lo comas)</li>
                    <li>El parche del logo de Star dice que lo entiendes</li>
                    <li>La silueta se ve bien, ha sido buena durante décadas, será buena mañana, etc.</li>
                </ul>
            </div>
            <div class="der"></div>
        </div>
        <div class="descripcion3">
            <h1>CHUCK TAYLOR ALL STAR</h1>
            <h2>ORIGINS</h2>
            <p>Creado en 1917, el Converse Chuck Taylor All-Star ha estado evolucionando durante cien años y ha logrado mantenerlo
                clásico: una parte superior de lona, un emblema de estrellas y una suela de goma vulcanizada son conocidas
                en todo el mundo. La silueta se mantiene fiel tanto en los estilos high-top como oxford: ambos looks pueden
                manejar cualquier cosa.</p>
        </div>
    </section>

    <section class="interaccion">
        <div class="izq">
            <h1>COMO LO QUIERAS</h1>
            <!-- BotonesInteraccion -->
            <div class="row">
                <div class="column">
                    <img src="https://static.netshoes.com.mx/produtos/tenis-converse-chuck-taylor/14/698-0019-014/698-0019-014_zoom1.jpg" alt=""
                        style="width:100%" onclick="myFunction(this);">
                </div>
                <div class="column">
                    <img src="http://www.yingtao.es/images/large/Converse/Mujer_437_Nueva_Converse_Chuck_Taylor_All_Star_Lo_zapatillas_Neon_Orange_Mujer_Hombre_Zapatos_naranja_LRG.jpg"
                        alt="" style="width:100%" onclick="myFunction(this);">
                </div>
                <div class="column">
                    <img src="https://cdn3.escapeshoes.com/32510/zapatillas-converse-chuck-taylor-all-star-155737c-menta.jpg" alt="" style="width:100%"
                        onclick="myFunction(this);">
                </div>
            </div>
            <button class="personalizar">Personalizar</button>
        </div>
        <div class="der">
            <div id="myTurntable" class="turntable">
                <ul>
                    <li data-img-src="../interaccion/zapatoRotacion0000.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0001.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0002.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0003.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0004.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0005.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0006.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0007.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0008.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0009.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0010.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0011.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0012.png"></li>
                    <li data-img-src="../interaccion/zapatoRotacion0013.png"></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="detalles">
        <div class="izq">
            <div class="imagenPrincipal">
                <img src="" alt="">
            </div>
            <!-- The four columns -->
            <div class="row">
                <div class="column">
                </div>
                <div class="column">
                    <img src="../img/CONVERSE1.jpg" alt="" style="width:100%" onclick="myFunction(this);">
                </div>
                <div class="column">
                    <img src="../img/CONVERSE2.jpg" alt="" style="width:100%" onclick="myFunction(this);">
                </div>
                <div class="column">
                    <img src="../img/CONVERSE3.jpg" alt="" style="width:100%" onclick="myFunction(this);">
                </div>
                <div class="column">
                    <img src="../img/CONVERSE4.jpg" alt="" style="width:100%" onclick="myFunction(this);">
                </div>
            </div>

            <div class="container">
                <img id="expandedImg" src="../img/CONVERSE1.jpg" style="width:78%">
                <div id="imgtext"></div>
            </div>
        </div>
        <div class="der">
            <h2>CONVERSE CHUCK 70 HIGH TOP</h2>
            <h3>UNISEX SHOE</h3>
            <p>$255.000</p>
            </br>
            <h3>STYLE</h3>
            <p>M7652-000</p>
            </br>
            <h4>Costo de envio:</h4>
            <p>Colombia - $10.000</p>
            </br>

            <div class="dropdown">
                <button class="dropbtn">Tallas</button>
                <div class="dropdown-content">
                    <a href="#">34</a>
                    <a href="#">35</a>
                    <a href="#">36</a>
                    <a href="#">37</a>
                    <a href="#">38</a>
                    <a href="#">39</a>
                    <a href="#">40</a>
                    <a href="#">41</a>
                    <a href="#">42</a>
                    <a href="#">43</a>
                </div>

            </div>
            <button class="Comprar">Comprar</button>
        </div>
    </section>

    <section class="news">
        <h1>SUSCRIBETE</h1>
        <p>Noticias, actualizaciones y descuentos</p>

        <form>
            <input type="email" placeholder="e-mail" name="email">
            <button class="enviar">Suscribirse</button>
        </form>
    </section>

    <!--<section class="promociones">
        
        <div class="row">
            <div class="column">
                <div class="menuGaleria10">
                    <img src="../img/holographic.png" style="width:100%">
                </div>
            </div>
            <div class="column">
                <img src="https://3otqkcd9rd-flywheel.netdna-ssl.com/wp-content/uploads/2017/05/converse-pride-01.jpg" style="width:100%">
            </div>
            <div class="column">
                <img src="https://content.nike.com/content/dam/one-nike/en_us/season-2017-fl/converse/le/0706/dt/converse-footpatrol-one-star-suede-low-top-shoes.jpg.transform/full-screen/converse-footpatrol-one-star-suede-low-top-shoes.jpg"
                    style="width:100%">
            </div>
            <div class="column">
                <div class="menuGaleria10">
                    <img src="../img/holographic.png" style="width:100%">
                </div>
            </div>
        </div>
    </section> -->

    <footer></footer>

    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="turntable.min.js"></script>
    

    <script>
        $('#myTurntable').turntable({
            axis: 'x',
            reverse: true, // true or false, will reverse the array of images
            scrollStart: 'top, bottom', // only necessary if axis = 'scroll'
        });
    </script>
    
</body>

<footer>
    <div class="flex-container">
        <div class="flex-item">
            <h1>INTENSE</h1>
            <p>Plataforma de venta de calzado femenino.</p>
            <br>
            <p>
                <a href="#"><b>Condiciones</b></a>
            </p>
            <p>
                <a href="#"><b>Soporte</b></a>
            </p>
            <p>
                <a href="#"><b>Privacidad</b></a>
            </p>
        </div>
        <div class="flex-item">
            <h1>SÍGUENOS</h1>
            <p>Mantente al tanto de las novedades.</p>
            <br>
        </div>
    </div>
</footer>

</html>