@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
* {
  margin: 0;
  padding: 0;
}

* h1 {
  display: block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-left: 200px;
  padding-top: 100px;
  font-weight: 600;
}

* h2 {
  display: block;
  color: black;
  font-weight: 200;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

* h3 {
  display: block;
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

* h4 {
  display: block;
  color: black;
  font-weight: 800;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: black;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
}

nav .izquierda {
  float: left;
  width: 80%;
}

nav .derecha {
  width: 20%;
  float: left;
}

nav p {
  display: block;
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 180px;
  padding-right: 200px;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

nav button {
  display: block;
  background-color: #eca5e3;
  text-align: center;
  margin: 15px 0 18px 0px;
  padding: 5px 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

nav button img {
  background-size: cover;
}

nav button:hover {
  background-color: #f881bc;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

nav li a:hover {
  background-color: #eca5e3;
}

nav input {
  height: 27px;
  width: 250px;
  border: none;
  font-size: 14px;
  padding: 7px 5px 5px 10px;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 15px 0 15px 25px;
}

.banner {
  display: block;
  width: 100%;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1491898487514-29e95d92e3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea406718e063a8cafed32f32912f4b96&auto=format&fit=crop&w=2000&q=80");
  background-size: cover;
  background-position-y: -300px;
}

.productos .zapatos {
  width: 100%;
  height: 100vh;
  float: left;
  padding: 40px 0 0 20%;
}

.productos .zapatos .mostrar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.productos .zapatos .mostrar .zapato {
  width: 20%;
  margin: 20px;
  border-radius: 6px;
}

.productos .zapatos .mostrar .zapato .imagen {
  width: 100%;
  height: 15em;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 6px 6PX;
}

.productos .zapatos .mostrar .zapato .descri {
  padding: 20px;
  height: 8em;
  margin-bottom: 2em;
}

.productos .zapatos .mostrar .zapato .descri .nom {
  font-size: 20px;
  margin-bottom: 0.4em;
}

.galeria {
  display: flex;
  height: auto;
  /* Create four equal columns that sits next to each other */
  /* Responsive layout - makes a two column-layout instead of four columns */
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
}

.galeria h1 {
  color: black;
  font-weight: 700;
  margin-bottom: 30px;
}

.galeria .row {
  width: 100%;
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.galeria .menuGaleria11 {
  height: 240px;
}

.galeria .column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.galeria .column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .galeria .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .galeria .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

footer {
  margin-top: 100px;
  height: 200px;
  width: 100%;
  display: flex;
  background-color: #1a1a1a;
}

footer h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

footer p {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

footer a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: white;
  color: white;
}

footer .flex-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  vertical-align: top;
}

footer .flex-item:nth-child(1) {
  align-items: flex-start;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

footer .flex-item:nth-child(2) {
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
/*# sourceMappingURL=style.css.map */