@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
* {
  margin: 0;
  padding: 0;
}

* h1 {
  display: block;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding-left: 200px;
  padding-top: 100px;
  font-weight: 600;
}

* h2 {
  display: block;
  color: black;
  font-weight: 200;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

* h3 {
  display: block;
  color: black;
  font-weight: 500;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

* h4 {
  display: block;
  color: black;
  font-weight: 800;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

nav {
  background-color: black;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
}

nav .izquierda {
  float: left;
  width: 80%;
}

nav .derecha {
  width: 20%;
  float: left;
}

nav p {
  display: block;
  color: white;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 180px;
  padding-right: 200px;
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
}

nav button {
  display: block;
  background-color: #eca5e3;
  text-align: center;
  margin: 15px 0 18px 0px;
  padding: 5px 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  font-family: "Montserrat", sans-serif;
}

nav button img {
  background-size: cover;
}

nav .carrito {
  margin-left: 30px;
  padding: 5px 5px;
}

nav button:hover {
  background-color: #f881bc;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

nav li a:hover {
  background-color: #eca5e3;
}

nav input {
  height: 27px;
  width: 250px;
  border: none;
  font-size: 14px;
  padding: 7px 5px 5px 10px;
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 15px 0 15px 25px;
}

.banner {
  display: block;
  width: 100%;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1491898487514-29e95d92e3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea406718e063a8cafed32f32912f4b96&auto=format&fit=crop&w=2000&q=80");
  background-size: cover;
  background-position-y: -300px;
}

.filtros {
  width: 100%;
  margin-top: 10px;
}

.filtros h1 {
  color: black;
}

.filtros .filtro {
  height: 100px;
  background-color: black;
  display: flex;
}

.filtros .filtro .filtro1 {
  display: flex;
  padding-top: 10px;
}

.filtros .filtro .filtro1 h2 {
  color: white;
  padding-left: 200px;
  padding-top: 20px;
  padding-right: 20px;
}

.filtros .filtro .filtro1 button {
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
}

.filtros .filtro .filtro1 .rojo {
  background-color: darkred;
}

.filtros .filtro .filtro1 .negro {
  background-color: gray;
}

.filtros .filtro .filtro1 .blanco {
  background-color: white;
}

.filtros .filtro .filtro1 .miel {
  background-color: #edbd71;
}

.filtros .filtro .filtro2 {
  display: flex;
  margin-top: 30px;
  margin-left: 100px;
}

.filtros .filtro .filtro2 h2 {
  color: white;
}

.filtros .filtro .filtro2 .dropbtn {
  transition: 0.5s;
  border: 3px solid violet;
  height: 40px;
  width: 160px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
  margin-left: 5px;
}

.filtros .filtro .filtro2 .dropdown {
  position: relative;
  display: inline-block;
}

.filtros .filtro .filtro2 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.filtros .filtro .filtro2 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.filtros .filtro .filtro2 .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.filtros .filtro .filtro2 .dropdown:hover .dropdown-content {
  display: block;
}

.filtros .filtro .filtro2 .dropdown:hover .dropbtn {
  transition: 0.5s;
  border: 3px solid black;
  background-color: violet;
  cursor: pointer;
}

.productos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;
}

.productos .zapatos {
  display: flex;
  height: 100vh;
  float: left;
}

.productos .zapatos .mostrar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 300px;
}

.productos .zapatos .mostrar .zapato {
  margin: 20px;
}

.productos .zapatos .mostrar .zapato .imagen {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -40px;
  -webkit-filter: grayscale(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.productos .zapatos .mostrar .zapato .imagen p {
  font-family: "Montserrat", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: white;
  text-align: center;
}

.productos .zapatos .mostrar .zapato .descri {
  display: none;
}

.productos .zapatos .mostrar .zapato .comprar {
  display: none;
}

.productos .zapatos .mostrar .zapato .imagen:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

.productos .zapatos .mostrar .zapato .imagen:hover .descri {
  display: block;
  padding: 20px;
  height: 8em;
}

.productos .zapatos .mostrar .zapato .imagen:hover .descri .nom {
  font-size: 20px;
  margin-bottom: 0.4em;
}

.productos .zapatos .mostrar .zapato .imagen:hover .comprar {
  display: block;
  border: none;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  margin: 60px 230px;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}

.productos .zapatos .mostrar .zapato .imagen:hover .comprar img {
  background-size: cover;
}

.productos .zapatos .mostrar .zapato .imagen:hover .comprar:hover {
  -webkit-transition: .3s ease-in-out;
  background-color: #8A3B58;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  box-shadow: 0 0 1px 5px rgba(138, 59, 88, 0.4), 0 0 1px 10px rgba(138, 59, 88, 0.1), 0 0 1px 15px rgba(138, 59, 88, 0.1);
}

@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}

footer {
  margin-top: 300px;
  height: 200px;
  width: 100%;
  display: flex;
  background-color: #1a1a1a;
}

footer h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

footer p {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

footer a {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: white;
  color: white;
}

footer .flex-container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  vertical-align: top;
}

footer .flex-item:nth-child(1) {
  align-items: flex-start;
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

footer .flex-item:nth-child(2) {
  margin: 10px;
  padding: 20px;
  font-size: 18px;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
/*# sourceMappingURL=style.css.map */