@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
//Variables
//Fuentes
$fuenteNormal:'Montserrat',
sans-serif;
$fuenteRARA:'Permanent Marker',
cursive;
//Colores
$colorElementos: rgb(236,
165,
227);
$gris: rgb(153,
149,
152);
$negroFondo:#1a1a1a;
* {
    //overflow-x: hidden;
    margin: 0;
    padding: 0;
    h1 {
        display: block;
        color: rgb(255, 255, 255);
        font-family: $fuenteNormal;
        font-size: 40px;
        padding-left: 200px;
        padding-top: 100px;
        font-weight: 600;
    }
    h2 {
        display: block;
        color: black;
        font-weight: 200;
        font-size: 30px;
        font-family: $fuenteNormal;
    }
    h3 {
        display: block;
        color: black;
        font-weight: 500;
        font-size: 25px;
        font-family: $fuenteNormal;
    }
    h4 {
        display: block;
        color: black;
        font-weight: 800;
        font-size: 20px;
        font-family: $fuenteNormal;
    }
}

nav {
    background-color: rgb(0, 0, 0); //width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    .izquierda {
        float: left;
        width: 80%;
    }
    .derecha {
        width: 20%;
        float: left;
    }
    p {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 8px;
        padding-bottom: 20px;
        padding-left: 180px;
        padding-right: 200px;
        font-family: $fuenteRARA;
        font-size: 30px;
    }
    button {
        display: block;
        background-color: $colorElementos;
        text-align: center;
        margin: 15px 0 18px 0px;
        padding: 5px 5px;
        cursor: pointer;
        text-decoration: none;
        border: none;
        color: white;
        font-family: $fuenteNormal;
        img {
            background-size: cover;
        }
    }

    .carrito{
        margin-left: 30px;
        padding: 5px 5px;
    }
    button:hover {
        background-color: rgb(248, 129, 188);
        cursor: pointer;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
    }
    li {
        float: left;
    }
    li a {
        display: block;
        color: rgb(255, 255, 255);
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        font-family: $fuenteNormal;
    }
    li a:hover {
        background-color: $colorElementos;
    }
    input {
        height: 27px;
        width: 250px;
        border: none;
        font-size: 14px;
        padding: 7px 5px 5px 10px;
        font-family: $fuenteNormal;
        display: block;
        margin: 15px 0 15px 25px;
    }
}

.banner {
        display: block;
        width: 100%;
        height: 600px; //margin: 50px;
        background-image: url("https://images.unsplash.com/photo-1491898487514-29e95d92e3f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea406718e063a8cafed32f32912f4b96&auto=format&fit=crop&w=2000&q=80");
        background-size: cover;
        background-position-y: -300px;
}

.filtros{
    width: 100%;
    margin-top: 10px;
    h1{
        color: black;
    }
    .filtro{
        height: 100px;
        background-color: black; 
        display: flex;

        .filtro1{
            display: flex;
            padding-top: 10px;

        h2{
            color: white;
            padding-left: 200px;
            padding-top: 20px;
            padding-right: 20px;
        }

        button{
            margin-left: 10px;
            margin-top: 20px;
            margin-bottom: 30px;
            border: none;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 50%;

        }

        .rojo{
            background-color: darkred;
        }

        .negro{
            background-color: gray;
        }

        .blanco{
            background-color: white;
        }
        .miel{
            background-color: #edbd71;
        }
    }

    .filtro2{
        display: flex;
        margin-top: 30px;
        margin-left: 100px;
        
        h2{
            color: white
        }
        .dropbtn {
            transition: 0.5s;
            border: 3px solid violet;
            height: 40px;
            width: 160px;
            background-color: white;
            font-family: $fuenteNormal;
            font-size: 20px;
            color: black;
            margin-left: 5px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-family: $fuenteNormal;
        }
        .dropdown-content a:hover {
            background-color: #f1f1f1
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover .dropbtn {
            transition: 0.5s;
            border: 3px solid black;
            background-color: violet;
            cursor: pointer;
        }
    }
    }
}

.productos{
    //width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    .zapatos {
        display: flex;
        height: 100vh;
        float: left;
        //padding-left: 40px;
        .mostrar {
           // width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            margin-top: 300px;
            .zapato {
                //width: 20%;
                //background: $blanco;
                margin: 20px;
                //border-radius: 6px;
            
                .imagen {
                    width: 300px;
                    height: 300px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-y: -40px;
                    -webkit-filter: grayscale(0);
	                filter: grayscale(0) blur(0);
	                -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    
                    p{
                        font-family: $fuenteNormal;
                        color: black;
                        margin: 0;
                        padding: 0;
                        font-size: 15px; 
                        background-color: white;
                        text-align: center;
                    }
                }

                .descri{
                    display: none;
                }

                .comprar{
                    display: none;
                }

                .imagen:hover{
                    opacity: 1;
                    -webkit-animation: flash 1.5s;
                    animation: flash 1.5s;

                    .descri {
                        display: block;
                        padding: 20px;
                        height: 8em;
                        //margin-bottom: 2em¿;
                        .nom {
                            font-size: 20px;
                            margin-bottom: 0.4em;
                        }
                    }

                    .comprar{
                        display: block;
                        border: none;
                        padding: 20px;
                        text-align: center;
                        text-decoration: none;
                        //font-size: 16px;
                        margin: 60px 230px;
                        cursor: pointer;
                        border-radius: 50%;
                        background-color: black;
                        transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
                        img {
                            background-size: cover;
                        }

                    }

                    

                    .comprar:hover{
                        -webkit-transition: .3s ease-in-out;
                        background-color:#8A3B58;
                        transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
                        box-shadow: 0 0 1px 5px rgba(#8A3B58, 0.4),
                        0 0 1px 10px rgba(#8A3B58, 0.1),
                        0 0 1px 15px rgba(#8A3B58, 0.1);
                    }
                }
                @-webkit-keyframes flash {
                    0% {
                        opacity: .4;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                @keyframes flash {
                    0% {
                        opacity: .4;
                    }
                    100% {
                        opacity: 1;
                    }
	            
                    
                }
                
            }
        }
    }
}

//FOOTER
footer {
    margin-top: 300px;
    height: 200px;
    width: 100%;
    //align-items: flex-start;
    display: flex;
    background-color: $negroFondo;


    h1{
        margin: 0;
        padding: 0;
        font-size: 20px;
    }

    p{
        font-family: $fuenteNormal;
        color: white;
        margin: 0;
        padding: 0;
        font-size: 15px;
    }

    a{
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-color: white;
        color: white;
    }

    .flex-container {
        height: 100%;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        vertical-align: top;
        }
    
    .flex-item:nth-child(1) {
        align-items: flex-start;
        //background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 18px;

        

        -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }
    .flex-item:nth-child(2) {
        //background-color: #f1f1f1;
        margin: 10px;
        padding: 20px;
        font-size: 18px;

        -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }
}